<h1 class="display-5 fst-italic my-5">Поиск товаров Wildberries, Ozon, AliExpress</h1>
<div class="row">
    <div class="col-sm-4">
        <h4>Установка параметров поиска</h4>
        <p>Вы можете выбрать с каких маркетплейсов получить товары (Wildberries, Ozon, AliExpress).</p>
        <p>Поисковый запрос рекомендуется составлять максимально подробно, но без ненужных слов, например, "купить", "дешево" и тд</p>
    </div>
    <div class="col-sm-4">
        <h4>Получение результатов</h4>
        <p>На странице отобразятся карточки товаров, отсортированные по общему показателю (шкала от 0 до 100)</p>
        <p>Можно перейти по ссылке сразу на страницу товара на маркетплейсе, либо изучить подробную информацию во всплывающем окне</p>
    </div>
    <div class="col-sm-4">
        <h4>Сравнение результатов</h4>
        <p>Можно выбрать несколько карточек для сравнения по различным параметрам</p>
    </div>
</div>
